{% extends 'layouts/base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>

<style>
.hidden {
    visibility: hidden;
}
.unhidden {
    visibility: visible;
}
</style>


<div class="ui text container">
    <p id='info-text'>Press the button below to start a new call</p>
    <button type="button" class="btn btn-dark" id="new-call">Start New Call</button>
</div>

<div id='call-card' class="card hidden" style="width: 25em;margin:0 auto;">
    <div class="card-header">
        Call Title
    </div>
    <div class="card-body">
        <h5 class="card-title">Connect to +1 (201) 365-7126</h5>
        <div id="basicUsage">00:00:00</div>
        <button id='end-call' class="btn btn-dark">End Call</button>
    </div>
</div>

<script>
    var timer = new Timer();
    $( "#new-call" ).click(function() {
        $( this ).toggle();
        $( '#info-text' ).toggle();
        fetch('http://127.0.0.1:5000/calls/create-call/new')
        .then(function(response) {
            console.log(response);
        });
        $('#call-card').removeClass('hidden');
        $('#call-card').addClass('unhidden');
        console.log(timer);
        timer.start();
        timer.addEventListener('secondsUpdated', function (e) {
            $('#basicUsage').html(timer.getTimeValues().toString());
        });
    });
    $( "#end-call" ).click(function() {
        $("#new-call").toggle();
        $( '#info-text' ).toggle();
        $('#call-card').addClass('hidden');
        $('#call-card').removeClass('unhidden');
        timer.stop();
        timer.reset();
    });
</script>
{% endblock %} 